* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block-mail {
    height: 100px;
    background-color: chocolate;
    margin: 2rem 0;
    border-radius: 0.5rem;
}

.block-dadi {
    height: 400px;
    border-radius: 0.5rem;
}

.square {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin-top: 1rem;
}